.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout header {
    height: 10vh;
}

.layout main {
    padding: 2rem;
}

@media (max-width: 900px) {
    .layout header {
        height: 15vh;
    }

    .layout main {
        width: 100%;
        padding: 0rem;
    }
}