/* Utility */
.container {
    max-width: 95%;
    margin: auto;

}

.d_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.f_flex {
    display: flex;
}

.row,
.left,
.right {
    width: 50%;
}

.top {
    margin-top: 1rem;
}

.button {
    border: none;
    outline: none;
    background-color: none;
}

.btn_shadow {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    color: var(--template-font-color-01);
    opacity: 0.7;
    background: linear-gradient(145deg, var(--template-font-color-02) var(--template-font-color-01));
    /* box-shadow: 1px 1px 8px 0px var(--template-font-color-02), -1px -1px 8px 0px var(--template-font-color-01); */
}

.last_button {
    background-color: var(--template-color-04);
    opacity: 1;
    color: #fff;
}

.btn_shadow:hover {
    background: var(--template-color-02);
    color: #fff;
    transform: translateY(-10px);
    opacity: 1;
    /* transform: scale(1.1); */
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .left,
    .right {
        width: 100%;
    }
}

/* Specific */
.hero {
    position: relative;
}

.hero h4 {
    font-weight: 100;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--template-color-05);
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero h1 span {
    color: var(--template-color-03);
}

.hero h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--template-color-03);
}

.hero h2 span {
    color: var(--template-font-color-01)
}

.hero p {
    color: var(--template-font-color-02);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 2rem;
}

.hero_btn {
    margin-top: 2.5rem;
}

.hero_btn h4 {
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--template-font-color-02);
    font-size: 0.8rem;
    margin: 1.4rem 0;
    text-transform: uppercase;
}

.hero_btn button {
    margin-right: 1.8rem;
}


.hero_btn button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.hero .left {
    margin-right: 15%;
}

.hero .right {
    width: 30%;
    position: relative;
}

.hero .right_img {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    height: 65vh;
    width: 25vw;
    margin-top: 15%;
}

.hero .right_img img {
    position: absolute;
    top: 0;
    right: 10%;
    width: 25vw;
}

@media (max-width: 910px) {}


@media (max-width: 768px) {

    .hero .right,
    .hero .left {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        /* margin: 0 0.5rem; */
    }

    .hero .f_flex {
        flex-direction: column;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
    }

    .hero .d_flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .col_1 h4 {
        text-align: center;

    }

    .hero_btn button {
        margin-right: 0;
    }

    .hero .right_img {
        width: 80%;
        height: 48vh;
        margin-top: 1.5rem;
        margin-right: 1rem;
        margin-left: 2.3rem;
        margin-bottom: 2rem;
    }

    .hero .right_img img {
        position: absolute;
        /* margin: -1rem 0 1rem 0.5rem; */
        right: 1rem;
        left: 2.3rem;
        top: -0.5rem;
        padding-top: 1rem;
        width: 70%;
    }

    .hero .left {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 80%; */
        width: 100%;
        margin: auto;
    }

    .hero h3 {
        margin-bottom: 0.5rem;
        font-size: 1rem;

    }

    .hero h1,
    .hero h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 1rem;
    }

    .hero h1 span,
    .hero h2 span {
        font-size: 2rem;
    }

    .hero p {
        text-align: center;
        margin: 2rem 2rem 0 2rem;
    }
}